.main{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ebedf0;
    border-bottom: none ;
}
.img{
    text-align: center;
    margin:8vh auto;
    margin-bottom: 0;
}
.main-content p{
    width: 85%;
    line-height: 24px;
    color: rgba(0,0,0,0.65);
    margin: 0 auto;
}
.main-content  span{
    font-size: 14px;
    color: rgba(0,0,0,0.45);
}
.bookname {
    width: 90% !important;
    margin: 1.7vh auto !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgba(0,0,0,0.65);
}
.remark span{
    display: inline-block;
    /* height: 24vh; */
    margin:2vw 0 0 2vw;
    /* overflow: scroll; */
    /* overflow: hidden; */
    overflow-y: scroll;
}