.nav{
    width: 100%;
}
.navcontent{
    width: 90vw;
    padding:5.5vh 0vh 3vh 0vh ;
    margin: 0vh auto;
}
.navcontent ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 0.8em;
    color: rgba(0,0,0,0.55);
    margin-top:3vw ;
    width: 30vw;
}