.hd{
    margin-top: 6vw !important ;
}
.hr{
    width: 100%;
    height: 0.8vw;
    margin: 1.2vw 0px 1.2vw 0px;
    background: #40a9ff;
}
.header{
    width: 100%;
    height:  10vw;
    color: white;
    background:#40a9ff;
}
.title{
    width:80%;
    margin: 0px auto;
}
.title p{
    display: inline-block;
    line-height:10vw;
}
.topper{
    font-size: 1.7em;
}
.name{
    margin-left: 3vw;
}


